<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <header>
    <h1 class="site-heading mb-8">Paolo Di Pasquale</h1>
    <p class="site-subheading">Full-stack web engineer</p>
  </header>
  <main class="prose">
    {{ content }}
  </main>
  <footer>
    <p>&copy; Paolo Di Pasquale {{ new Date().getFullYear() }}</p>
  </footer>
</body>
</html> 